/* ROOT */
:root {
    --primary-blue-color: #0084FD;
    --violet-bg-color: #9792E4;
    --light-blue-color: #B5DDFF;
    --white-bg-color: white;
    --grid-gap: 1rem;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* COMMON */
body {
    font-family: 'PT Sans', sans-serif;
}

a {
    color: inherit;
    text-decoration: inherit;
    text-align: inherit;
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 900px;
    /* debug */
    border: 1px solid red;
    min-height: 80px;
  }

.small-container {
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
    /* debug */
    border: 1px solid red;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    gap: var(--grid-gap);
  }

  .main-section {
    padding: 2rem 0;
  }

  .col {
    width: 100%;
    /* debug */
    border: 1px solid var(--primary-blue-color);
} */

.mt-2 {
    margin-top: 2rem;
}

/* .m-lr-2 {
    margin: 0 2rem;
} */

.mb-2 {
    margin-bottom: 2rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

/* .pb-4 {
    padding-bottom: 4rem;
} */

.white-bg {
    background-color: var(--white-bg-color);
}

.violet-bg {
    background-color: var(--violet-bg-color);
  }

.radius {
    border-radius: 15px;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.space-between {
    justify-content: space-between;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

/* BUTTONS */
.arrow {
    border-radius: 50%;
    font-size: 2rem;
    padding: .5rem 1rem;
    display: inline-block;
    align-items: center;
 }

 .hamburger-btn {
    background-color: transparent;
    border: 0;
    color: inherit;
    font-size: 2rem;
    cursor: pointer;
}

.get-started {
    border: 1px solid white;
    background-color: white;
    color: black;
    padding: .2rem .3rem;
    border-radius: 15px;
}

.app-store {
    border: 1px solid var(--primary-blue-color);
    background-color: var(--primary-blue-color);
    color: white;
    padding: .3rem 3rem;
    border-radius: 15px;
    position: absolute;
    left: 35%;
    bottom: 75%;
    margin-top: 1rem;
}

/* HEADER */
header {
    background-color: var(--primary-blue-color);
    padding: 1.5rem 0;
   
}

header a {
    text-decoration: none;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav {
    display: none;
}

.header-nav ul {
    display: flex;
    list-style-type: none;
    gap: var(--grid-gap)
}

/* HEADER - RESPONSIVE - desktop - 992px */
@media screen and (min-width: 992px) {
    .header-nav {
        display: block;
    }

    .hamburger-btn {
        display: none;
    }
}

/* MAIN */

.card {
    width: 100%;
    padding: 1rem .8rem;
    /* debug */
    min-height: 200px;
    background-color: var(--violet-bg-color);
    color: black;
}

/* DEMO SECTION */

#demo .card {
    background-color: var(--light-blue-color);
    position: relative;
}

#demo h2 {
    color: var(--primary-blue-color);
    padding: 1rem 0;
}

.bigger {
    font-size: 6rem;
}

.file {
    text-align: center;
}

 /* DEMO SECTION - RESPONSIVE - tablet - 768px */

 @media screen and (min-width: 768px) {
    #demo {
        --col-width: ((100% / 3) - (2 * var(--grid-gap) / 3));
    }

    #demo .card {
        width: calc(var(--col-width));
    }

  #demo .card:first-child {
    width: calc(2 * var(--col-width) + var(--grid-gap));
  }
 }
  
 
/* DEMO SECTION - RESPONSIVE - desktop - 992px */

@media screen and (min-width: 992px) {
    #demo .card:first-child {
        display: flex;
    }

    .app-store {
        position: absolute;
        left: 2%;
        bottom: 8%;
    }

}

  /* STRATEGIC SECTION */
 .strategic-card {
    /* debug */
    min-height: 600px;
    padding: 2rem;
 }

 .card-text {
    justify-content: center;
    flex-wrap: wrap;
 }

 


 /* STRATEGIC SECTION - RESPONSIVE - desktop - 992px */

 .row .white-bg {
    background-color: var(--white-bg-color);
 }

@media screen and (min-width: 992px) {
    #strategic .row {
        align-items: flex-end;
    }

    #strategic .col {
        width: calc(50% - 1rem);
      }
}


/* TESTIMONIALS SECTION */
#testimonials .container .card:first-child {
    background-color: white;
    border-radius: 0px;
}

#testimonials .card {
    border-radius: 15px;
    margin-bottom: 2rem;
}

#testimonials .pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.content {
    color: white;
    text-align: center;
}


/* TESTIMONIALS SECTION - RESPONSIVE - tablet 768px */
@media screen and (min-width: 768px) {
    #testimonials .card {
         display: flex;
         align-items: center;
         text-align: center;
     }
 
 }

 /* BENEFITS SECTION */
 #benefits .card:not(:first-child) {
    background-color: white;
    border-radius: 15px;
 }


/* BENEFITS SECTION - RESPONSIVE - tablet 768px */
@media screen and (min-width: 768px) {
    #benefits .row {
         display: flex;
         flex-wrap: wrap;
         gap: 2rem;
     }
 
     #benefits .card:not(:first-child) {
         width: calc(100% / 2 - 1rem);
     }
 }

/* BENEFITS SECTION - RESPONSIVE - desktop - 992px */
@media screen and (min-width: 992px) { 
     #benefits .card:not(:first-child) {
        width: calc(100% / 3 - 4rem / 3);
     }
 }

 /* ABOUT SECTION */

.col-left {
    width: calc(70% - 1rem);
}

.col-right {
    width: 30%;
}

#about .pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* CTA SECTION */

.cta {
    /* debug */
    min-height: 600px;
}

/* FOOTER */
footer {
    background-color: #333333;
    /* debug */
    min-height: 400px;
}