/* ROOT */
:root {
    --primary-blue-color: #0084FD;
    --violet-bg-color: #9792E4;
    --white-bg-color: white;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* COMMON */
body {
    font-family: 'PT Sans', sans-serif;
}

.flex {
    display: flex;
}

a {
    color: inherit;
    text-decoration: inherit;
    text-align: inherit;
}

.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1100px;
    /* debug */
    border: 1px solid red;
  }

.large-container {
    width: 100%;
    margin: 0 auto;
    max-width: 1160px;
    /* debug */
    border: 1px solid red;
  }

.mt-2 {
    margin-top: 2rem;
}

.m-lr-2 {
    margin: 0 2rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.pb-4 {
    padding-bottom: 4rem;
}

.white-bg {
    background-color: var(--white-bg-color);
}

.violet-bg {
    background-color: var(--violet-bg-color);
  }

.radius {
    border-radius: 5%;
}

.left-align {
    text-align: left;
}

.center-align {
    text-align: center;
}

.space-between {
    justify-content: space-between;
}

/* HEADER */
header {
    height: 3rem;
    background-color: var(--primary-blue-color);
    padding: 0 2rem;
    display: flex;
    align-items: center;
}

header nav {
    display: none;
}

.header-menu {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

/* HEADER - RESPONSIVE - desktop - 992px */
@media screen and (min-width: 992px) {
    header nav {
        display: block;
    }

    .hamburger-btn {
        display: none;
    }
}

/* DEMO SECTION */
.demo-section {
    padding: 3rem 0;
    justify-content: center;
}

  
 .col {
    /* debug */
    border: 1px solid var(--primary-blue-color);
    min-height: 300px;
    margin-bottom: 1rem;
    background-color: green;
}

  #demo .col:first-child {
    /* debug */
    min-height: 500px;
  }
  
  /* DEMO SECTION - RESPONSIVE - tablet - 768px */
  @media screen and (min-width: 768px) {
    #demo .row {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }
  
    #demo .col {
      width: calc(95% / 3 - 4rem / 3);
    }
  
    #demo .col:first-child {
      width: calc(63% - 2rem / 3);
    }
  }


  /* STRATEGIC SECTION */
 .strategic-card {
    /* debug */
    min-height: 600px;
    padding: 2rem;
 }

 .card-text {
    justify-content: center;
    flex-wrap: wrap;
 }

 .arrow {
    border-radius: 50%;
    font-size: 2rem;
    padding: .5rem 1rem;
    display: inline-block;
 }


 /* STRATEGIC SECTION - RESPONSIVE - desktop - 992px */
@media screen and (min-width: 992px) {
    #strategic .row {
        display: flex;
    }

    #strategic .col {
        width: calc(50% - 2rem);
      }
}

/* TESTIMONIALS SECTION */

/* TESTIMONIALS SECTION - RESPONSIVE - tablet 768px */


/* BENEFITS SECTION */


/* BENEFITS SECTION - RESPONSIVE - tablet 768px */
@media screen and (min-width: 768px) {
   #benefits .row {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    #benefits .col {
        width: calc(100% / 2 - 1rem);
    }
}

/* BENEFITS SECTION - RESPONSIVE - desktop - 992px */
@media screen and (min-width: 992px) { 
     #benefits .col {
         width: calc(100% / 3 - 2rem);
     }
 }

 /* ABOUT SECTION */
 /* ABOUT SECTION - RESPONSIVE - tablet 768px */
@media screen and (min-width: 768px) { 
    #about .row {
        display: flex;
        gap: 2 rem;
    }

    #about .col {
        width: calc(100% / 2 - 4rem /2);
    }

    #about .col:first-child {
        width: calc(60%);
    }
}


/* CTA SECTION */

.cta {
    /* debug */
    min-height: 600px;

}