/* ROOT */
:root {
    --primary-blue-color: #0084FD;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* COMMON */
a {
    color: inherit;
    text-decoration: inherit;
    text-align: inherit;
}

/* HEADER */
header {
    height: 3rem;
    background-color: var(--primary-blue-color);
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: none;
}

.header-menu {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

/* RESPONSIVE - desktop - 992px */
@media screen and (min-width: 992px) {
    header nav {
        display: block;
    }

    .hamburger-btn {
        display: none;
    }
}